<h1>News#new</h1>
<%= form_for @user, url: news_index_path(@user) , controller: 'news', action: 'create' do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %>

    <%=f.label :email %>
    <%=f.text_field :email %>

    <%=f.label :password %>
    <%=f.password_field :password %>

    <%=f.label :password_confirmation %>
    <%=f.password_field :password_confirmation%>
    
    <%= f.submit 'create' %>
<% end %>